set (autostart ${PLUGIN_MEMMONITOR_AUTOSTART})
set (callsign "org.rdk.MemMonitor")
if(PLUGIN_MEMMONITOR_STARTUP_ORDER)
    set (startuporder ${PLUGIN_MEMMONITOR_STARTUP_ORDER})
endif()
map()
    if(PLUGIN_MEMMONITOR_HOMEURL)
    	kv(homeurl ${PLUGIN_MEMMONITOR_HOMEURL})
    endif()
    if(PLUGIN_MEMMONITOR_LOW_MEM_LIMIT)
        kv(lowmem ${PLUGIN_MEMMONITOR_LOW_MEM_LIMIT})
    endif()
    if(PLUGIN_MEMMONITOR_CRITICAL_MEM_LIMIT)
        kv(criticalmem ${PLUGIN_MEMMONITOR_CRITICAL_MEM_LIMIT})
    endif()
end()
ans(configuration)

if(PLUGIN_MEMWATCHER_AMAZON)
    map_append(${configuration} callsigns ___array___ Amazon)
endif()

if(PLUGIN_MEMWATCHER_COBALT)
    map_append(${configuration} callsigns ___array___ Cobalt)
endif()
if(PLUGIN_MEMWATCHER_NETFLIX)
    map_append(${configuration} callsigns ___array___ Netflix)
endif()